<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
</head>
<script type="text/javascript" src="/js/lib/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<body>
<div class="formBox">
    <form>
        <label>
            user:
            <input id="account" type="text" placeholder="用户名"/>
        </label><br/>
        <label>
            code:
            <input id="password" type="text" placeholder="邀请码"/>
        </label><br/>
        <label>
            <input id="login" type="button" value="提交"/>
        </label><br/>
    </form>
</div>
</body>
</html>